html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Colours
Dark Blue- #143776
Light Blue- #2B5096
light Grey- #BCBEC0
charcoal- #393839
gold- #B6A269
*/

body {
	margin:0;
}

h1 {
	background-color: #143776;
	color:#B6A269;
}

h2 {
	background-color: #143776;
	color:#B6A269;
	text-align: center;
}

